:root {
  font-family: 'Montserrat', sans-serif;
  color-scheme: light dark;
  color: rgba(46, 44, 44, 0.87);
  background-color: #908f8e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - 110px);  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
  margin: 20px;
}

#root {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  width: 200px;
  height: 330px;
  margin: 10px;
  background-color: white;
  padding: 0px;
  position: relative;
  transition: all 0.4s;
}

.card:hover {
  box-shadow: 0 0 30px #333;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgb(240, 240, 240);
  padding: 7px;
  border-radius: 0 0 0 20px;
  color: #333;
}

.close:hover {
  background-color: #333;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: #333;
  color: white;
  height: 55px;
}

header { 
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.animal-image {
  width: 200px;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  padding: 0px;
}

.card:hover .animal-image {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: saturate(1.5);
}

.card:hover .heart {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: saturate(1.1);
}

.likes.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.line_heart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.heart {
  width: 35px;
}

input {
  width: 250px;
  padding: 6px;
  border: none;
  font-size: 17px;
  border-style: groove;
  border-width: 1px;
  border-color: rgb(237, 232, 232);
  border-radius: 5px;
  margin: 10px;
}

.plus, .minus {
  background-color: #333;
  color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.plus:hover {
  background-color: rgb(70, 223, 104);
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.minus:hover {
  background-color: rgb(240, 125, 90);
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.likes {
  width: 4.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a.active {
  border-bottom: 3px solid;
}

.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: row;
  text-align: center;
}

.columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
}

.img_animals {
  height: 19rem;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1606287201181-42f1340c1306');
  background-size: cover;
  background-position: center;
  font-size: 20px;
  padding: 10px;
  color: #333;
}

.img_animals:hover {
  box-shadow: 0px 0px 20px #c5c4c4;
  color: rgb(241, 239, 239);
  text-shadow: 0 0 10px #333;
}

.img_birds {
  height: 19rem;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1552943273-ba7dedee6d44');
  background-size: cover;
  background-position: center;
  font-size: 20px;
  padding: 10px;
  color: #333;
}

.img_birds:hover {
  box-shadow: 0px 0px 20px #c5c4c4;
  color: rgb(241, 239, 239);
  text-shadow: 0 0 10px #333;
}

.img_fishes {
  height: 19rem;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1604637736034-9d36fc147ea4');
  background-size: cover;
  background-position: center;
  font-size: 20px;
  padding: 10px;
  color: #333;
}

.img_fishes:hover {
  box-shadow: 0px 0px 20px #c5c4c4;
  color: rgb(241, 239, 239);
  text-shadow: 0 0 10px #333;
}

.img_insects {
  height: 19rem;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1567177020831-e6261610a5ae');
  background-size: cover;
  background-position: center;
  font-size: 20px;
  padding: 10px;
  color: #333;
}

.img_insects:hover {
  box-shadow: 0px 0px 20px #c5c4c4;
  color: rgb(241, 239, 239);
  text-shadow: 0 0 10px #333;
}

.img_singlepage {
  width: 350px;
  margin-top: 20px;
}

.font_singlepage {
  color: white;
  margin: 10px;
}

.desc {
  margin-bottom: 10px;
}

.likes_single {
  color: white;
}

.button_singlepage {
  margin: 20px;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  background-color: coral;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}

.button_singlepage:hover {
  background: chocolate;
  cursor: pointer;
  box-shadow: 0px 0px 20px #fcf9f9;

}
nav {
 margin: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.see {
  margin-bottom: 10px;
}

.see a {
  color: blue;
}

.see a:hover {
  color: rgb(215, 22, 25);
}

.back {
  margin: 20px;
}